:root
{
  --background-sections: rgb(50, 46, 46 ); 
  --background-body: rgb(240, 233, 232);
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html
{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body
{
  background: var(--background-body);
  height: auto;
}
.page-container
{
  display: grid;
  grid-template-areas:
  "header"
  "aside" 
  "main"
  "footer"
  ;
  width: auto;
  height: 100%;
}

.page-section
{
  display: flex;
  font-size: 1.6rem;
  background-color: var(--background-sections); 
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.page-section-header
{
  grid-area: header;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.page-section-aside
{
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 100%;
  grid-area: aside;
}
.page-section-main
{

  display: flex;
  grid-area: main;
  height: 100vh; 
  background: #323232; 
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;   
  justify-content: space-around;
}
.page-section-footer
{
  color: white;
  grid-area: footer;
}
.tabs-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;  
  background: darkred;
  align-self: center;
}
nav 
{
  height: auto;
  width: 100%;
}
.tab a
{
  text-decoration: none;
  background-color: darkred;
  color: white;
}
.tab a:hover
{
  color: gold;
}
.tab a:active
{
  color: yellow;
}
